@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

ul {
  list-style: none;
  padding-left: 0;
}

li {
  font-size: 14px;
  color: #929292;
  display: flex;
  align-items: center;
  gap: 5px;
  &.checked {
    color: #49a049;
  }
}
