/* google font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; 
  font-family: "Poppins";
}
/* layout */
:root {
  /* --primary: #1aac83; */
  --primary: #e97338;
  --secondary: #e4e4e4;
  --error: #e7195a;
  --dark: #333;
}
body {
  background: #555555;
  margin: 0;
  
  color: var(--secondary);
}
p {line-height: 1.7;}

header {
  background: #2e2e2e;
  padding: 20px 50px;
}
header .header-container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  color: var(--secondary);
}

.header-container a span {
  font-size: 50px;
  color: var(--primary);
}

.header-container a {
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 15px;
}

.pages {
  max-width: 1400px;
  padding: 20px 40px;
  margin: 0 auto;
  & h2 {
    margin: 0 0 20px 0;
  }
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 50px;
}

.workouts{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: auto auto auto;
  gap: 10px;
}
.details-box {
  background: var(--secondary);
  border-radius: 4px;
  padding: 15px;
  position: relative;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.5);
  font-size: 0.85em;
  color: var(--dark);
}
.details-box h4 {
  margin: 0 0 10px 0;
  font-size: 1.1em;
  color: var(--primary);
  max-width: calc(100% - 50px);
  overflow-wrap: break-word;
}

.details-box span {
  position: absolute;
  top: 55px;
  right: 15px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 4px 10px;
  border-radius: 4px;
  color: var(--dark);
}
.details-box span:first-of-type{
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  background: #f1f1f1;
  padding: 4px 10px;
  border-radius: 4px;
  color: var(--dark);
}

/* new workout form */
label, input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 100%;
  border: 1px solid var(--primary);
  color: var(--dark);
  border-radius: 4px;
  box-sizing: border-box;
  background: var(--secondary);
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.signup, .login {
 max-width: 400px;
 margin: 40px auto;
 padding: 20px;
 background: #fff;
 border-radius: 4px;
 color: var(--dark);
}

nav button {
  background: transparent;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  white-space: nowrap;
  &:hover {
    background: var(--primary);
    color: #fff;
  }
}
button {
  background: var(--primary);
  border: 2px solid var(--primary);
  color: #fff;
  padding: 6px 14px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  &:hover {
    background: transparent;
    color: var(--primary);
    border: 2px solid var(--primary);
  }
}

.password-input-container {
  position: relative;
}

.password-toggle-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  transform: translateY(5%);
  background: transparent;
  border: none;
  cursor: pointer;
  color: black;
  &:hover {
    border: none;
    color: var(--dark);
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px; 
  animation: spin 1.5s linear infinite;
  margin: 10px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
